p {
    display: inline;
    font-size: 10pt;
    line-height: 24pt;
    background-color: #ffff80;
    padding: 10px;
    border: medium dotted red;

}
h3{
    color: red;
    background-color: #90ff90;
    margin-left: 60px;
    margin-right: 60px;
}
h3:after{
    content: "(©sblim)";
    font-size: 10pt;
    background-color: yellow;
}
strong{
    display: none;
    background-color: silver;
    margin:10px;
    padding: 6px;
    border: 1px solid black;
}

.red1{
    display: block;
    background-color: silver;
    margin:10px;
    padding: 6px;
    border: 1px solid black;
}

#next{
    display: inline;
    text-align: center;
    background-color: #B0ffff;
    margin-left: 30%;
    padding: 8px;
    border: 1px solid double blue;

}