body{
    font-family: "Times New Roman", "맑은고딕", serif, sans-serif;
    white-space:nowrap;
}
div{
    border:15px solid #dcecca;
    width: 650px;
    background-size: 60%;
    background-image: url(flower2.png);
    background-repeat: no-repeat;
    background-position: left 390px bottom -80px;
 
    
}
h1{
    text-shadow: 2px 2px 2px #434343;
    text-align: center;
}
h3{
    margin: 40px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: inherit;
}
th{
    background-color: #d9d9d9;
}
li {
    margin: 10px;
}
ul {
    list-style: none;
}



#yellow{
    text-align: center;
    height: 30px;
    background-color: #feeab5;
}
#blue{
    text-align: center;
    color: #ffff;
    height: 30px;
    background-color: #062976;
}
#line{
    float: left;
    width: 80%;
}
#mark{
    display: block;
    margin: auto;
    width:200px;
}
#table1{
    width: 600px;
    height: 200px;
}
#table2{
    width: 600px;
    height: 300px;
}
#ga{
    height: 170px;
}
#na{
    height: 500px;
}
#da{
    height: 400px;
}
#button1{
    background-color: #feeab5;
    text-align: center;
    padding: 8px;
    margin: 20px;
    width: 120px;
    border-radius: 5px;
}
#button1:hover{
    background-color: #d9f3ff;
    transform: scale(1.1);
}
#button2{
    text-align: center;
    padding: 8px;
    margin: 20px;
    width: 150px;
    border: thin solid black;
    border-radius: 5px;
}
#button2:hover{
    background-color: #d9d9d9;
    transform: scale(1.1);
}



.flower{
    width:50px;
    background-image: url(flower.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.blank{
    background-color: #ffff;
    height: 10px;
}
.white{
    background-color: #ffffff;
}
.table3{
    margin: 20px;
    white-space:normal;
    margin-left: 50px;
    border-collapse: collapse;
    width: 800px;
    text-align: center;
    margin-bottom: 50px;
}
.number{
    width: 6%;
}
.second{
    width: 17%;
}
.second2{
    width: 70%;
}
.title{
    font-weight: bold;
}
.contents{
    list-style-type: lower-alpha;
}
